body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f4f9ff;
    color: #003366;
}

       /* HEADER */
header {
  background: linear-gradient(135deg, #0077dd, #004a99);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* LOGO */
.logo img {
  width: 100px;
}

/* MENU DESKTOP */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 6px;
}

.nav-links a:hover,
.nav-links a.active {
  background: rgba(255,255,255,0.2);
}

/* BOTÃO EMERGÊNCIA */
.btn-emergencia {
  background: #ff4444;
  border-radius: 25px;
  padding: 10px 20px;
}

/* BOTÃO HAMBURGUER */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* =====================
   MOBILE
===================== */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #0077dd, #004a99);
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    width: 90%;
    text-align: center;
    font-size: 16px;
  }
}


.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #003366;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #044a85;
}

.btn {
    background: #007bff;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-size: 18px;
}

.btn:hover {
    background: #005bb5;
}
