* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f9faff;
  color: #333;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}


header {
  background: linear-gradient(135deg, #0066cc, #004999);
  color: white;
}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 90px;
  height: auto;
  
}
.menu {
  display: flex;
  gap: 1.5rem;
}
.menu li a {
  color: white;
  font-weight: 500;
  transition: opacity 0.3s ease;
  padding: 4px 0;
}
.menu li a:hover {
  opacity: 0.8;
}
.menu li a.active {
  font-weight: 600;
  border-bottom: 2px solid white;
}


.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 1rem;
}
.hero {
  text-align: center;
  padding: 60px 0;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #555;
}
.btn-primary {
  background: #0066cc;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-primary:hover {
  background: #004999;
}


.info, .benefits {
  margin-top: 40px;
}
.info h2, .benefits h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #004999;
}
.info ol, .benefits ul {
  margin-left: 1.2rem;
  margin-top: 0.5rem;
}
.info li, .benefits li {
  margin-bottom: 0.8rem;
  color: #555;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 1rem;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100px;
    margin-bottom: 1rem;
}

.card h3 {
    color: #004999;
}

.card p {
    color: #555;
}


.btn {
    display: inline-block;
    padding: 0.8rem 1.7rem;
    background: #0066cc;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background: #004fa5;
}


.footer {
  text-align: center;
  padding: 2rem 0;
  color: #888;
  font-size: 0.9rem;
  background: #fff;
  margin-top: 60px;
}